*.iml

.cxx
.gradle
.DS_Store
.externalNativeBuild

.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/build
*/build
/captures
/local.properties

/app/debug
/app/release
/app/roomSchemas

/app/keystore/keystore.properties
